@mixin flexprob {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin commoncode($par1, $par2) {
  color: #222f3e;
  font-size: 5rem + 5rem;
  // letter-spacing: 0.3rem;
  letter-spacing: $par1;
  // text-transform: capitalize;
  text-transform: $par2;
}
